<div class="col">
  <div class="card">
    <img src="assets\task.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5
        class="card-title text-primary text-uppercase fs-2"
        [ngStyle]="{ 'text-decoration': textDecore }"
      >
        {{ eachTask }}
      </h5>
      <div class="d-flex align-content-center justify-content-between">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="handleText()"
        >
          {{ completed ? "Undo" : "Completed" }}
        </button>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="handleDelete(eachTask)"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
